<label id="btnAtras" mat-raised-button  (click)="volverWelcome()"><img style="width: 25px; height: 25px" src="../../../assets/atras.png"></label>
<div class="card">
    <img style=" border-radius: 100%; width: 200px; height: 200px;display: block;margin: auto;"id="imgProg" src="../../../assets/foto.png">
    <br>
    <label id="labelProg"><b>Programador:</b> Camilo Redondo</label>
</div>

<div class="card">
  <img style=" width: 200px; height: 200px;display: block;margin: auto;" src="../../../assets/album.jpeg">
  <label><b>Creador:</b> Freepik mas info <a href="https://www.flaticon.es/iconos-gratis/album-de-fotos" target="_blank" >click aqui</a></label>
</div>

<div class="card">
  <img style=" width: 200px; height: 200px;display: block;margin: auto;" src="../../../assets/welcome.png">
  <label ><b>Creador:</b>flatart_icons mas info <a href="https://www.flaticon.es/iconos-gratis/album-de-fotos" target="_blank" >click aqui</a></label>
</div>


<div class="card">
  <img style=" width: 200px; height: 200px;display: block;margin: auto;" src="../../../assets/welcome.png">
  <label ><b>Creador:</b>Smashicons mas info <a href="https://www.flaticon.es/iconos-gratis/album-de-fotos" target="_blank" >click aqui</a></label>  
</div>
<div class="card">
  
</div>